In [451]:
import pandas as pd
import numpy as np

In [452]:
data = pd.read_csv(r"C:\Users\NarayananM\Videos\ML-AI\Dataset\diamonds_new.csv")

In [453]:
data.head()

   carat      cut color clarity  table     x     y     z  price_new
0   0.23    Ideal     E     SI2   55.0  3.95  3.98  2.43      163.0
1   0.21  Premium     E     SI1   61.0  3.89  3.84  2.31      163.0
2   0.23     Good     E     VS1   65.0  4.05  4.07  2.31      163.5
3   0.29  Premium     I     VS2   58.0  4.20  4.23  2.63      167.0
4   0.31     Good     J     SI2   58.0  4.34  4.35  2.75      167.5

In [454]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   carat      53841 non-null  float64
 1   cut        53940 non-null  object
 2   color      53884 non-null  object
 3   clarity    53940 non-null  object
 4   table      53877 non-null  float64
 5   x          53940 non-null  float64
 6   y          53940 non-null  float64
 7   z          53940 non-null  float64
 8   price_new  53940 non-null  float64
dtypes: float64(6), object(3)
memory usage: 3.7+ MB

Handling NULL Values

In [455]:
data.isna().sum()

carat        99
cut           0
color        56
clarity       0
table        63
x             0
y             0
z             0
price_new     0
dtype: int64

In [456]:
data.shape

(53940, 9)

In [457]:
data.describe()

,carat,table,x,y,z,price_new
count,53841.000000,53877.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.798120,57.457719,5.731157,5.734526,3.539635,1966.399861
std,0.474428,2.235742,1.121761,1.142135,0.703869,1994.719869
min,0.200000,43.000000,0.000000,0.000000,0.000000,163.000000
25%,0.400000,56.000000,4.710000,4.720000,2.910000,475.000000
50%,0.700000,57.000000,5.700000,5.710000,3.530000,1200.500000
75%,1.040000,59.000000,6.540000,6.540000,4.040000,2662.125000
max,5.010000,95.000000,10.740000,58.900000,31.800000,9411.500000

In [458]:
data[(data['x']==0) | (data['y']==0) | (data['z']==0)].index

Int64Index([11182, 11963, 15951, 24520, 26243, 27429, 49556, 49557], dtype='int64')

In [459]:
data2 = data.drop([11182, 11963, 15951, 24520, 26243, 27429, 49556, 49557])

In [460]:
data2[(data2['y'] > 15) | (data2['z'] > 15)].index

Int64Index([24067, 48410, 49189], dtype='int64')

In [461]:
data3 = data2.drop([24067, 48410, 49189])

In [462]:
data3.shape

(53929, 9)

Fill the Missing Values

In [463]:
data3.isna().sum()

carat        99
cut           0
color        56
clarity       0
table        63
x             0
y             0
z             0
price_new     0
dtype: int64

In [464]:
car_median = data3['carat'].median()
data3['carat'] = data3['carat'].fillna(car_median)

car_table = data3['table'].median()
data3['table'] = data3['table'].fillna(car_table)

In [465]:
data3['color'].value_counts()

G    11234
E     9795
F     9539
H     8301
D     6774
I     5422
J     2808
Name: color, dtype: int64

In [466]:
data3["color"] = data3['color'].fillna("G")

In [467]:
data3.isna().sum()

carat        0
cut          0
color        0
clarity      0
table        0
x            0
y            0
z            0
price_new    0
dtype: int64

In [468]:
data3.columns

Index(['carat', 'cut', 'color', 'clarity', 'table', 'x', 'y', 'z',
       'price_new'],
      dtype='object')

In [469]:
y = data3['price_new']
x = data3.drop("price_new", axis=1)

In [470]:
x = pd.get_dummies(x)

Pre -Processing

In [471]:
from sklearn.preprocessing import MinMaxScaler

In [472]:
mn = MinMaxScaler()

In [473]:
x = mn.fit_transform(x)

In [474]:
from sklearn.model_selection import train_test_split

In [475]:
x_train, x_test, y_train , y_test = train_test_split(x, y, test_size=0.2, random_state= 134)

Creating Model

In [476]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [477]:
x.shape

(53929, 25)

Model 1

In [478]:
model1 = Sequential()
model1.add(Dense(32, activation = "relu", input_shape = (25,)))
model1.add(Dense(16, activation = "relu"))
model1.add(Dense(8, activation = "relu"))

model1.add(Dense(1, activation = None))
model1.summary()

Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_116 (Dense)           (None, 32)                832

 dense_117 (Dense)           (None, 16)                528

 dense_118 (Dense)           (None, 8)                 136

 dense_119 (Dense)           (None, 1)                 9

=================================================================
Total params: 1,505
Trainable params: 1,505
Non-trainable params: 0
_________________________________________________________________

In [479]:
#Model Compilation
model1.compile(optimizer = "sgd", loss = "mean_squared_error")

In [480]:
#Model Fitting
model1.fit(x_train, y_train, epochs = 20, batch_size = 128)

Epoch 1/20
338/338 [==============================] - 1s 2ms/step - loss: 124138932928512.0000
Epoch 2/20
338/338 [==============================] - 1s 2ms/step - loss: 5600666.5000
Epoch 3/20
338/338 [==============================] - 1s 2ms/step - loss: 3998259.2500
Epoch 4/20
338/338 [==============================] - 1s 2ms/step - loss: 3998097.5000
Epoch 5/20
338/338 [==============================] - 1s 2ms/step - loss: 3998154.2500
Epoch 6/20
338/338 [==============================] - 1s 2ms/step - loss: 3997735.0000
Epoch 7/20
338/338 [==============================] - 1s 2ms/step - loss: 3998157.0000
Epoch 8/20
338/338 [==============================] - 1s 2ms/step - loss: 3997882.5000
Epoch 9/20
338/338 [==============================] - 1s 2ms/step - loss: 3998304.5000
Epoch 10/20
338/338 [==============================] - 1s 3ms/step - loss: 3998043.5000
Epoch 11/20
338/338 [==============================] - 1s 2ms/step - loss: 3998085.7500
Epoch 12/20
338/338 [==============================] - 1s 2ms/step - loss: 3998183.5000
Epoch 13/20
338/338 [==============================] - 1s 2ms/step - loss: 3998118.0000
Epoch 14/20
338/338 [==============================] - 1s 2ms/step - loss: 3998205.7500
Epoch 15/20
338/338 [==============================] - 1s 2ms/step - loss: 3998184.2500
Epoch 16/20
338/338 [==============================] - 1s 2ms/step - loss: 3998104.2500
Epoch 17/20
338/338 [==============================] - 1s 3ms/step - loss: 3998061.0000
Epoch 18/20
338/338 [==============================] - 1s 2ms/step - loss: 3998277.7500
Epoch 19/20
338/338 [==============================] - 1s 2ms/step - loss: 3997920.0000
Epoch 20/20
338/338 [==============================] - 1s 2ms/step - loss: 3998256.2500

In [481]:
#Model Evaluvation
model1.evaluate(x_test, y_test)

338/338 [==============================] - 1s 2ms/step - loss: 3895972.0000

3895972.0

Model 2

In [482]:
model2 = Sequential()
model2.add(Dense(128, input_shape = (25,), activation = "relu"))
model2.add(Dense(64, activation = "relu"))
model2.add(Dense(32, activation = "relu"))
model2.add(Dense(16, activation = "relu"))
model2.add(Dense(8, activation = "relu"))
model2.add(Dense(4, activation = "relu"))
model2.add(Dense(2, activation = "relu"))
model2.add(Dense(1, activation = None))

In [483]:
#Model Compilation
model2.compile(optimizer = "sgd", loss = "mean_squared_error")

In [484]:
#Model Fitting
model2.fit(x_train, y_train, epochs = 20, batch_size = 128)

Epoch 1/20
338/338 [==============================] - 2s 3ms/step - loss: 4287606.5000
Epoch 2/20
338/338 [==============================] - 1s 3ms/step - loss: 3998065.5000
Epoch 3/20
338/338 [==============================] - 1s 2ms/step - loss: 3998037.0000
Epoch 4/20
338/338 [==============================] - 1s 2ms/step - loss: 3998168.7500
Epoch 5/20
338/338 [==============================] - 1s 2ms/step - loss: 3998227.2500
Epoch 6/20
338/338 [==============================] - 1s 2ms/step - loss: 3998001.7500
Epoch 7/20
338/338 [==============================] - 1s 3ms/step - loss: 3998241.2500
Epoch 8/20
338/338 [==============================] - 1s 4ms/step - loss: 3998076.2500
Epoch 9/20
338/338 [==============================] - 1s 3ms/step - loss: 3998214.7500
Epoch 10/20
338/338 [==============================] - 1s 3ms/step - loss: 3998036.0000
Epoch 11/20
338/338 [==============================] - 1s 3ms/step - loss: 3998238.0000
Epoch 12/20
338/338 [==============================] - 1s 3ms/step - loss: 3998025.2500
Epoch 13/20
338/338 [==============================] - 1s 3ms/step - loss: 3997975.0000
Epoch 14/20
338/338 [==============================] - 1s 3ms/step - loss: 3997860.0000
Epoch 15/20
338/338 [==============================] - 1s 3ms/step - loss: 3997912.5000
Epoch 16/20
338/338 [==============================] - 1s 3ms/step - loss: 3997808.5000
Epoch 17/20
338/338 [==============================] - 1s 3ms/step - loss: 3997972.0000
Epoch 18/20
338/338 [==============================] - 1s 4ms/step - loss: 3998159.7500
Epoch 19/20
338/338 [==============================] - 1s 4ms/step - loss: 3998114.5000
Epoch 20/20
338/338 [==============================] - 1s 3ms/step - loss: 3998026.5000

In [485]:
#Model Evaluvation
model2.evaluate(x_test, y_test)

338/338 [==============================] - 1s 2ms/step - loss: 3897745.5000

3897745.5

Model 3

In [486]:
model3 = Sequential()
model3.add(Dense(64, activation = "relu", input_shape = (25,)))
model3.add(Dense(32, activation = "relu"))
model3.add(Dense(16, activation = "relu"))

model3.add(Dense(1, activation = None))
model3.summary()

Model: "sequential_22"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_128 (Dense)           (None, 64)                1664

 dense_129 (Dense)           (None, 32)                2080

 dense_130 (Dense)           (None, 16)                528

 dense_131 (Dense)           (None, 1)                 17

=================================================================
Total params: 4,289
Trainable params: 4,289
Non-trainable params: 0
_________________________________________________________________

In [487]:
#Model Compilation
model3.compile(optimizer = "sgd", loss = "mean_squared_error")

In [488]:
#Model Fitting
model3.fit(x_train, y_train, epochs = 10, batch_size = 128)

Epoch 1/10
338/338 [==============================] - 1s 2ms/step - loss: 48024433693628039168.0000
Epoch 2/10
338/338 [==============================] - 1s 2ms/step - loss: 661357199360.0000
Epoch 3/10
338/338 [==============================] - 1s 2ms/step - loss: 4786480.0000
Epoch 4/10
338/338 [==============================] - 1s 2ms/step - loss: 3998002.7500
Epoch 5/10
338/338 [==============================] - 1s 3ms/step - loss: 3998026.5000
Epoch 6/10
338/338 [==============================] - 1s 3ms/step - loss: 3997920.5000
Epoch 7/10
338/338 [==============================] - 1s 2ms/step - loss: 3998036.7500
Epoch 8/10
338/338 [==============================] - 1s 2ms/step - loss: 3997902.2500
Epoch 9/10
338/338 [==============================] - 1s 3ms/step - loss: 3998264.0000
Epoch 10/10
338/338 [==============================] - 1s 3ms/step - loss: 3998242.0000

In [489]:
#Model Evaluvation
model3.evaluate(x_test, y_test)

338/338 [==============================] - 1s 2ms/step - loss: 3896001.2500

3896001.25

Model 4

In [490]:
model4 = Sequential()
model4.add(Dense(128, input_shape = (25,), activation = "relu"))
model4.add(Dropout(0.3))
model4.add(Dense(64, activation = "relu"))
model4.add(Dropout(0.3))
model4.add(Dense(32, activation = "relu"))
model4.add(Dropout(0.3))
model4.add(Dense(16, activation = "relu"))
model4.add(Dropout(0.3))
model4.add(Dense(8, activation = "relu"))
model4.add(Dropout(0.3))
model4.add(Dense(4, activation = "relu"))
model4.add(Dropout(0.3))
model4.add(Dense(2, activation = "relu"))
model4.add(Dropout(0.3))
model4.add(Dense(1, activation = None))

In [491]:
#Model Compilation
model4.compile(optimizer = "adam", loss = "mean_squared_error")

In [492]:
#Model Fitting
model4.fit(x_train, y_train, epochs = 10, batch_size = 128)

Epoch 1/10
338/338 [==============================] - 5s 5ms/step - loss: 7878185.0000
Epoch 2/10
338/338 [==============================] - 1s 4ms/step - loss: 7876852.0000
Epoch 3/10
338/338 [==============================] - 1s 4ms/step - loss: 7875527.5000
Epoch 4/10
338/338 [==============================] - 1s 4ms/step - loss: 7874203.0000
Epoch 5/10
338/338 [==============================] - 1s 4ms/step - loss: 7872878.5000
Epoch 6/10
338/338 [==============================] - 1s 4ms/step - loss: 7871555.0000
Epoch 7/10
338/338 [==============================] - 2s 4ms/step - loss: 7870229.0000
Epoch 8/10
338/338 [==============================] - 2s 4ms/step - loss: 7868905.0000
Epoch 9/10
338/338 [==============================] - 1s 4ms/step - loss: 7867578.5000
Epoch 10/10
338/338 [==============================] - 2s 6ms/step - loss: 7866257.0000

In [493]:
#Model Evaluvation
model4.evaluate(x_test, y_test)

338/338 [==============================] - 2s 4ms/step - loss: 7684352.0000

7684352.0

LinearRegression

In [494]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [495]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [496]:
y_pred = lr.predict(x_test)

In [497]:
mean_squared_error(y_test, y_pred)

310672.3413684406